* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: rgb(208, 190, 166);
}

main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.canvas {
  background-color: #cef6f4;
  width: 500px;
  height: 500px;
  min-width: 500px;
  min-height: 500px;
  border: #FFC745 2px solid;
  box-shadow: -3px 3px #d0a339;
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: column;
  height: 460px;
  gap: 20px;
  align-items: flex-start;
}

.canvasSize {
  margin-top: auto;
}

nav button {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: #FFC745 2px solid;
  background-color: #007A78;
  color: #FFC745;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -4px 4px #014241;
}

nav button:hover {
  background-color: #006261;
}

.color {
  display: flex;
  align-items: center;
  gap: 16px;
}

#colorSelector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

#colorSelector::-webkit-color-swatch {
  border-radius: 50%;
  border: #FFC745 2px solid;
  box-shadow: -3px 3px #d0a339;
}

#colorSelector::-moz-color-swatch {
  border-radius: 50%;
  border: #FFC745 2px solid;
  box-shadow: -3px 3px #d0a339;
}

#indicator {
  width: 65px;
}

#indicator:hover {
  background-color: #007A78;
}